html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    background: #EEE;
}

#header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #048, #48F);
    overflow: hidden;
}

#header h1 {
    color: #CCC;
    margin: 10px 16px;
}

#header #navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #CCC;
    border-top: solid 1px #888;
    border-bottom: solid 1px #888;
    padding: 8px 4px;
    font-size: 12px;
}

#header #user {
    position: absolute;
    top: 38px;
    right: 16px;
    color: #FFF;
    font-size: 12px;
}

#header #navbar a {
    color: #444;
    text-decoration: none;
    margin: 0 4px;
}

#content {
    position: relative;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
}



#view-flex {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
}

.category-list {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 100%;
    padding: 2px;
    margin: 0;

    font-size: 12px;
    font-family: sans-serif;

    border: solid #888 1px;
    box-sizing: border-box;
}

.category-list p {
    margin: 0px;
    padding: 1px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.category-list * {
    user-select: none;
}

.category-list a {
    cursor: default;
}


.category .category-name::before {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    font-size: 10px;
    font-family: monospace;
    font-weight: bold;
    color: #222;
    background: #FFF;
    border: solid #888 1px;
    z-index: 2;
}

.category .category-name::before {
    content: "-";
}

.category.clicked .category-name::before {
    content: "+";
}


p.selected {
    color: white;
    background: #3169c6;
    padding: 0px 4px;
    border: dotted #444 1px;
    box-sizing: border-box;
    background-clip: padding-box;
}

.selected * {
    color: white !important;
}

.category.clicked .post-list {
    display: none;
}

.post-list {
    padding-left: 16px;
}

.post {
    position: relative;
}

.category-list li::marker {
    content: "";
}

.post::before {
    content: "";
    position: absolute;
    top: -.75em;
    left: -.5em;
    width: .75em;
    height: 1.5em;
    background: transparent;
    border: dotted 2px #222;
    border-width: 0px 0px 1px 1px;
}

.post a {
    color: black;
    text-decoration: none;
}

.category-list #new-post {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    padding: 4px 8px;
    border: solid #888 1px;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFF;
    background: #284;
    cursor: pointer;
    ;
}

iframe#viewer {
    flex-grow: 1;
}

iframe#viewer #header {
    display: hidden;
}

#login-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-box {
    border: #888 solid 1px;
    border-radius: 8px;
    padding: 8px 24px;
    width: 250px;
}

#login-box h1 {
    font-size: 24px;
}

#login-box .error {
    color: #F42;
    font-size: 14px;
    font-weight: bold;
}

#login-box input {
    width: 100%;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 8px 16px;
}

#login-box .footer {
    color: gray;
    font-size: 12px;
    text-align: center;
}

#login-box .footer a {
    text-decoration: none;
    font-weight: bold;
}

#lizard-ascii {
    display: inline-block;
    font-weight: bold;
    color: #888;

    position: absolute;
    bottom: 10%;
    right: 10%;
}