{{#* inline "inside"}}
<h1>
    Welcome to TailBB{{#with user.ValidSession }}, {{name}}!{{/with}}
</h1>
<pre id="lizard-ascii">
           ______
     ___--' ___  \
 \__/_____       .\
 /  \_____   __-'.|
          '-.--'' \.    ____
      ,   ,  \  . . '\/' _ '\_.
     ,_\\//  |      .  /  //\\-.
      '-\ \_/  '  '    \  '   '
         \___/\  .   '  \.
               |     '    \     ,   ,
               \   .    '  \    \\//_,
                \     '   .|  __/ /-'
                 '.'   .    \/ __/
                 __\ .     '  /
                / __   .   ' |        '.
             ._/ /    \  . ' |          \\
             '//\\      \  '  \          \ \
              '  '       \  '  \         /  \
                          \  '  \       / ' /
                           \  '  \_____/ ' /
                            \  ' . . . .' / 
                             '._________.'
</pre>
{{/inline}}
{{> base}}