{{#* inline "inside"}}
<div id="login-flex">
    <div id="login-box">
        <h1>Login</h1>
        {{#with err_msg}}
        <p class="error">{{this}}</p>
        {{/with}}
        <form method="post" action="/login">
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Login">
        </form>
        <p class="footer">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
</div>
{{/inline}}
{{> base}}